fastapi
uvicorn[standard]
websockets
numpy
torch
transformers
sentence-transformers
scikit-learn
Pillow
pymupdf
httpx
pydantic
python-multipart
ftfy
regex
faiss-cpu
httpx
git+https://github.com/openai/CLIP.git